.center{
  text-align: center;
}

.button {
  display: inline-block;
  width: 115px;
  height: 25px;
  background: #4E9CAF;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  line-height: 25px;
  transition: 0.5s;
}

.button:after{
  content: '';
  display: block;
  height: 2px;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
  -webkit-transition: width .5s ease, background-color .5s ease;
  -moz-transition: width .5s ease, background-color .5s ease;
  margin: auto; 
}

.button:hover:after{
  width: 100%;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.35), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}

.button:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.55), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
}

.button{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button-for-submit{
  background: #2980B9;
  cursor: pointer;
}

input, button{
  margin: 20px;
  font-size: 15px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  color: #276A96;
  transition: 0.25s;
  outline: none;
}

input:hover, input:focus, button:hover, button:focus{
  border: 2px solid #276A96;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.35), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}

button{
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .button{font-size: 15px;}
}