.center{
  text-align: center;
}

.button {
  display: inline-block;
  width: 115px;
  height: 25px;
  background: #4E9CAF;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  line-height: 25px;
  transition: 0.5s;
}

.button:after{
  content: '';
  display: block;
  height: 2px;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
  margin: auto; 
}

.button:hover:after{
  width: 100%;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.35), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}

.button:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.55), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
}

.button{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button-for-submit{
  background: #2980B9;
  cursor: pointer;
  width: 100px;
}

input, button{
  margin: 20px;
  font-size: 15px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  color: #276A96;
  transition: 0.5s;
  outline: none;
}

input:hover, input:focus, button:hover, button:focus{
  border: 2px solid #276A96;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.35), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}

button{
  cursor: pointer;
}

#container{
  border-radius: 12px;
  display: inline-block;
  max-width: 200px;
  margin: 0 auto;
  margin-top: 20vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.25s;
  margin-bottom: 250px;
}

.card{
  background-color: #fff;
  border: 1px solid #bacdd8;
  padding: 8px;
  border-radius: 12px;
  background-color: #34495E;
}

.name{
  text-align: center;
  color: #1E90FF;
  font-size: 24px;
  font-weight: 600;
  margin-top: 16px;
}

button {
  border: none;
  padding: 12px 24px;
  border-radius: 5px;
  font-weight: 600;
  color: #0077ff;
  background-color: #e0efff;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  transition: 0.75s;
}

button:hover{
  color: #023c7e;
  background-color: #9daab9;
}

#secondContainer{
  text-align: center;
}

.embedded-score{
  display: inline-block; 
  vertical-align: top;
  margin: 20px;
  padding: 20px 30px;
  max-width: 100px;
  border: 1px solid #1E3042;
  font-size: 60px;
  color: #138D75;
  background-color: #415A73;
}

@media screen and (max-width: 480px) {
  .button{font-size: 15px;}
}