body{
  font-family: 'Fredoka', sans-serif;
}

.css-err {
  display: none;
}

h1{
  color: #276A96;
  text-align: center;
}

a{
  display: inline-block;
  position: relative;
  color: #1E90FE;
  text-decoration: none;
}

h2{
  color: #138D75;
  text-align: center;
}

h3{
  color: #276A96;
}

.comment{
  font-size: 50px;
  padding-bottom: 100px;
}

.class-details{
  font-size: 15px;
  text-align: center;
}

.score{
  text-align: center;
  font-size: 150px;
  padding: 0;
}

.exclamation-point{
  color: #0bc1b5;
}

.center{
  margin: 0;
  text-align: center;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #34495E;
  color: white;
  text-align: center;
}

@media screen and (max-width: 480px){
  .footer{
    visibility: hidden;
  }
}

@media screen and (min-width: 500px){
  h2:after{
    color: #ff0000;
    content: ' This was meant to be used for mobile devices and you may not have all features available to use'
  }
}

.admin-class{
  display: inline-block;
}

.comment{
  text-align: center;
  margin-bottom: 25px;
}
/* Custom Highlight Colors */
-moz-selection{
  color: #fff;
  background-color: #11133B;
}

::selection{
  color: #fff;
  background-color: #11133B;
}