<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')}}" type="image/x-icon">
  <link rel="stylesheet" href="{{ url_for('static', filename='/styles/error.css')}}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap" rel="stylesheet">
  <title>404 | Page Not Found</title>
</head>
<body>
  <h1>Ah...</h1>
  <h1>404 - Page Not Found</h1>
  <p><span>This Page</span> Could Not Be Found...</p>
  <a href="/">Go To The Home Page</a><br>
  <footer class="footer">
  <p>Made by Zach Richman <a href="https://www.github.com/NebulousCalm">(NebulousCalm)</a> and Noah DePalma <a href="https://www.github.com/TacoSnack">(TacoSnack)</a> - <a title="You Can Report Errors Here" href="https://www.github.com/NebulousCalm/Stardust-For-Education">Github</a><br><br>
<a href="/logout">Logout</a> - A Stardust Industries Project - <a href="https://home.stardust-industries.repl.co">Website</a></p>

</footer>
</body>
</html>