<!DOCTYPE html>
<html>
<head>
  <title>Create A Class</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/create.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <form method="POST">
    <input type="text" name="classname" placeholder="Class Name" autocomplete="off" required><br>
    <input type="text" name="teachername" placeholder="Teachers Name" autocomplete="off" required><br>
    <input type="text" name="grade" placeholder="Grade Level (Numbers Only)" autocomplete="off" required><br>
    <input type="submit" class="button" value="Create Class">
  </form>

{{ message }}

<footer class="footer">
  <p>Made by Zach Richman <a href="https://www.github.com/NebulousCalm">(NebulousCalm)</a> and Noah DePalma <a href="https://www.github.com/TacoSnack">(TacoSnack)</a> - <a title="You Can Report Errors Here" href="https://www.github.com/Stardust-Industries/Education">Github/Report</a><br><br>
<a href="/logout">Logout</a> - A Stardust Industries Project - <a href="https://home.stardust-industries.repl.co">Website</a></p>
</footer>
</body>
</html>